# Node URL
NODE_API_BASE_URL=http://localhost:3000

# Service address
GO_SERVICE_ADDR=:8081

# Maximum duration allowed for processing one HTTP request
REQUEST_TIMEOUT=5s

# === PostgreSQL (dev only) ===
POSTGRES_DB=school_mgmt
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# === Node backend (dev only) ===
PORT=5007
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/school_mgmt

JWT_ACCESS_TOKEN_SECRET=dev_access_secret
JWT_REFRESH_TOKEN_SECRET=dev_refresh_secret
CSRF_TOKEN_SECRET=dev_csrf_secret
EMAIL_VERIFICATION_TOKEN_SECRET=dev_email_verification_secret
PASSWORD_SETUP_TOKEN_SECRET=dev_password_setup_secret

JWT_ACCESS_TOKEN_TIME_IN_MS=900000
JWT_REFRESH_TOKEN_TIME_IN_MS=28800000
CSRF_TOKEN_TIME_IN_MS=950000
EMAIL_VERIFICATION_TOKEN_TIME_IN_MS=18000000
PASSWORD_SETUP_TOKEN_TIME_IN_MS=300000

API_URL=http://localhost:5007
UI_URL=http://localhost:5173
COOKIE_DOMAIN=localhost

# Dev-only flag for Problem 7
DISABLE_AUTH=true
